@import url("https://fonts.googleapis.com/css2?family=The+Girl+Next+Door&display=swap");

html {
  height: 100%;
  overflow: hidden;
}

body {
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  user-select: none;
  box-sizing: border-box;
  background-color: #212121;
}
